# Virtual environments
venv/
venv311/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Package build artifacts
*.egg-info/
dist/
build/
*.egg

# pytest cache
.pytest_cache/

# Local binaries
.bin/

# macOS
.DS_Store
